.container {
    height: 93vh;
}

.container-left {
    background-color: rgba(32, 113, 173, 0.80);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    min-width: 550px;
    min-height: 535px;
    float: left;
    padding: 20px;
    margin-top: 3vh;
    margin-right: 20px;
}

.container-right {
    background-color: rgba(32, 113, 173, 0.80);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    min-width: 550px;
    min-height: 535px;
    float: left;
    padding: 20px;
    margin-top: 3vh;
}

.container-mid-left {
    margin-top: 40%;
    margin-left: 40%;
}

.container-mid-right {
    margin-top: 30%;
    margin-left: 10%;
}

.link {
    transition: all .5s;
}
