@model FoodDelivery.Web.UI.Models.ProductsListView

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    @Html.Partial("MenuSummary")
</body>
</html>